* text=auto

*.bat text eol=crlf
*.py text eol=lf
*.md text eol=lf
*.txt text eol=lf

*.png binary
*.jpg binary
*.jpeg binary
*.gif binary
*.ico binary
*.pdf binary
*.xlsx binary
*.xls binary
*.xlsm binary
